// Breakpoints
$bps: (
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 375px,
);
// Font family
$font-family: (
  //Roboto
  Roboto: 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap'
);
// Font size
$font-size: (
  // Default: 16px
  xxl: 32px,
  xl: 24px,
  lg: 20px,
  md: 18px,
  sm: 14px,
  xs: 12px,
  xxs: 10px
);
// Font weight
$font-weight: (
  // Default: normal 400
  light: 300,
  normal: 400,
  bold: 700,
  boldest: 900
);
// Color
$color: ();
